
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* If using Tailwind CSS inline styles */
  .rotate {
    animation: spin infinite 9s linear;
  }
